alabaster==0.7.12
appnope==0.1.0
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.6.0
backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
chisubmit==2.0.1
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
colorama==0.4.1
coverage==3.7.1
coveralls==0.5
cycler==0.10.0
datascience==0.10.6
decorator==4.3.2
Deprecated==1.2.5
docopt==0.6.2
docutils==0.14
enum34==1.1.6
Fiona==1.8.6
folium==0.2.1
future==0.17.1
geopandas==0.4.1
gitdb2==2.0.5
GitPython==2.1.11
idna==2.8
imagesize==1.1.0
ipython==7.3.0
ipython-genutils==0.2.0
jedi==0.13.3
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.1
matplotlib==3.0.3
more-itertools==6.0.0
munch==2.3.2
numpy==1.16.2
packaging==19.0
pandas==0.24.1
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
pluggy==0.9.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
pyapi-gitlab==7.8.5
PyGithub==1.43.5
Pygments==2.3.1
PyJWT==1.7.1
pyparsing==2.3.1
pyproj==2.1.3
pytest==4.3.0
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.13
requests==2.21.0
Rtree==0.8.3
scipy==1.2.1
Shapely==1.6.4.post2
six==1.12.0
smmap2==2.0.5
snowballstemmer==1.2.1
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.24.1
wcwidth==0.1.7
wrapt==1.11.1